/src/GetClipboardContent/.qmake.stash
/src/GetClipboardContent/GetClipboardContent.pro.user
/src/GetClipboardContent/Makefile
/src/GetClipboardContent/Makefile.Debug
/src/GetClipboardContent/Makefile.Release
/src/GetClipboardContent/debug/GetClipboardContent.exe
/src/GetClipboardContent/debug/GetClipboardContent.ilk
/src/GetClipboardContent/debug/GetClipboardContent.pdb
/src/GetClipboardContent/debug/getclipboardcontent.vc.pdb
/src/GetClipboardContent/debug/main.obj
/src/GetClipboardContent/debug/moc_predefs.h
/src/GetClipboardContent/debug/moc_widget.cpp
/src/GetClipboardContent/debug/moc_widget.obj
/src/GetClipboardContent/debug/widget.obj
/src/GetClipboardContent/ui_widget.h